.wrapper {
  width: 420px;
  background: #2b5787;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #517fa4;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #a2c4d9;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #4a90e2;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #2b5787;
  font-weight: 700;
}

.login-body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../Assests/abu-dhabi-seascape-with-skyscrapers.jpg")
    no-repeat center center fixed;
  /* no-repeat: no-repeat; */
  background-size: cover;
  /* background-position: center; */
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: #305777;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}
