.custom-select,
.custom-input {
  margin: 0 5px !important;
  flex: 1 1 auto;
}

.custom-input::placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.custom-input-container {
  display: flex;
  justify-content: center; /* Center the children horizontally */
  gap: "10px"; /* Adjust the gap between elements */
  margin: "20px"; /* Vertical margin for spacing, remove horizontal margin */
}

.custom-table-container {
  margin-bottom: 20px;
  overflow-x: auto; /* Allows for horizontal scrolling if absolutely necessary */
}

.custom-table {
  width: 100%;
  max-width: 100%; /* Ensure table does not exceed the container width */
  border-collapse: collapse;
  margin: 20px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: nowrap; /* Keep content on single line to save vertical space */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis to text that overflows */
}

.custom-table th {
  background-color: #f4f4f4;
  color: #333;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
  background-color: #eaeaea;
}

@media (max-width: 768px) {
  .custom-table th,
  .custom-table td {
    padding: 4px; /* Reduce padding for smaller screens */
    white-space: normal; /* Allow wrapping in smaller screens */
  }
}

.hr-spacing {
  height: 30px;
  background-color: transparent;
}
