.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0073e6;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.navigation ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li a,
.navigation button {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px; /* Adjust the font size as needed */
}

.navigation button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.language-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.language-selector button {
  margin-right: 0 5px;
  border: none;
  background-color: transparent;
  color: #0000ff;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px; /* Adjust the font size as needed */
  align-items: center;
}

.user-info {
  text-align: right;
  color: white;
}

.user-info-item {
  margin-right: 20px;
  font-size: 12px; /* Adjust the font size as needed */
}

.bottom-header .icon {
  position: relative;
  right: 0;
  top: 0;
  transform: translateY(0);
  font-size: 14px;
  color: #ffffff;
  margin-right: 5px;
  vertical-align: middle;
}

.logout {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
